
.venv/
venv/
__pycache__/
*.pyc
eventos/
**/eventos/
known_hosts_rpi
**/known_hosts_rpi
*.part
build/
tmp/
sstate-cache/
downloads/
*.wic
*.wic.bz2
*.wic.bmap
*.rootfs.ext4
.DS_Store
.vscode/
.idea/
*.swp
*~